/*html,body{overflow:hidden;}*/
/*body{background:#3d3e45 url(../images/beta.png) no-repeat 1% 99%;}*/
body{background:#fbfaf8;}
.g-doc, .g-bd{text-align:left;width:100%;height:100%;}
.f-cb:after{clear:both;content:'.';display:block;height:0;overflow:hidden;visibility:hidden;}
.icn-toc{background:url(../images/icon-toc.png?201810300939) no-repeat;background-size:20px 20px;}
a{color:#613f23;}
/* z-index
 * rd_header 10
 * rd_dirct  200
 * rd_help   30
 * rd_scroll 40
 * u-note    50
 * book_page 5
 * m-reader .wrap 35
 * u-showbox 200
 * u-panel 200
 * u-side-layer 200
 * fullscreen 40
 */
.m-menu{position: fixed;width: 100%;height: 100%;z-index: 1;}
.m-header,.m-footer{position:fixed;left:0;width:100%;height:50px;padding:15px 20px;color:#fff;box-sizing:border-box;background:rgba(0,0,0,.8);line-height:20px;z-index:30;}
.m-header{top:0;}
.m-header .toc{position: absolute; top: 0; left: 0; width: 50px; height: 50px;}
.m-header .pagenum{position:absolute;right:20px;top:15px;font-size: 14px;}
.m-footer{bottom:0;}
.m-progress{position:relative;top:10px;}
.m-progress .line1,.m-progress .line2{height:2px;border-radius:2px;background:#555;}
.m-progress .line2{position:absolute;top:0;background:#ff6518;}
.m-progress .dot{position:absolute;top:50%;width:18px;height:18px;margin-top:-9px;border-radius:20px;background:#333;box-shadow:0 0 2px rgba(202,202,202,.8);z-index:1;}
.m-progress .tips{position:absolute;bottom:40px;left:50%;width:120px;margin-left:-75px;padding:10px 15px;border-radius:10px;background:rgba(0,0,0,.8);text-align:center;}
.m-progress .tips .title{max-height:40px;overflow:hidden;line-height:18px;margin-bottom:4px;}
/* 目录 */
.m-toc{position: absolute;top: 0;background: #fafaf8;left: 0;width: 100%;z-index: 11;}
.m-toc .title{padding:38px 20px 18px;font-size:20px;border-bottom:2px solid #e5e0d8;color:#ac703c;font-weight:400;}
.m-toc .nav-list li{position:relative;border-bottom:1px solid #e5e0d8;}
.m-toc .nav-list li a{display:block;padding:15px 70px 15px 0;line-height:20px;font-size:14px;}
.m-toc .nav-list li a.disable{color: #999;cursor: default;}
.m-toc .nav-list li span{position:absolute;right:5px;font-size:12px;color:#ac703c;}
.m-toc .nav-list li li{padding-left:2em;}
.m-toc .nav-list .final{border-bottom:none;}
.m-toc .nav-list .nav-list{border-top:1px solid #e5e0d8;}
.m-toc .nav-list .active a{color:#ed6c00;}
.m-toc .nav-list .active li a{color:#000;}
.m-toc .content{padding: 0 20px;}

/* 图书内容 */
.m-reader, .m-reader .rd_page_wrapper, .m-reader .rd_cnt{width: 100%;height: 100%;overflow: hidden;}
.m-reader .rd_main{position:absolute;top:0;left:0;right:0;bottom:0;height:100%;}
.m-reader .rd_cnt{background:#fbfaf8;box-shadow:0 0 80px rgba(0,0,0,.45);display: -webkit-box;}
/*.m-reader .rd_page_wrapper{position:fixed;top:0;left:0;bottom:0;right:0;overflow:hidden;z-index:11;}*/
.m-reader .rd_cnt .book_page_wrapper{position:relative;background:#fbfaf8;overflow: hidden;height: 100%;float:left;}
/* 滚动条 */
.m-reader .rd_scroll{position:fixed;top:0;right:0;height:100%;width:25px;border-left:1px solid #313237;z-index:40;background:#3d3e45;}
.m-reader .rd_scroll .slider{position:absolute;right:0;width:100%;height:56px;}
.m-reader .rd_scroll .btn{position:absolute;left:-5px;width:9px;min-height:30px;border:1px solid #313237;background:#4b4b51;border-radius:5px;}
.m-reader .rd_scroll .tips{position:absolute;right:40px;padding:10px;background:#4b4b51;color:#c4c4c5;width:140px;text-align:center;box-shadow:0 4px 6px rgba(0,0,0,.1);overflow:hidden;}
.m-reader .rd_scroll .tips table{width:100%;}
.m-reader .rd_scroll .tips table td{height:36px;overflow:hidden;text-align:center;}
/* 登录及个人中心 */
.m-reader .rd_person{position:absolute;top:30px;right:60px;}
.m-reader .rd_person a{color:#9d9d9f;}
/* 购买全本 */
.m-reader .rd_buy{position:fixed;top:50%;left:50%;width:120px;margin-top:-420px;margin-left:667px;overflow:hidden;}
.m-reader .rd_buy .buy{display:block;height:36px;padding-left:15px;color:#fff;font-size:14px;line-height:36px;background-position:0 -198px;}
.m-reader .rd_buy .gift *{vertical-align:middle;}
.m-reader .rd_buy .gift{
  display:inline-block;height:20px;margin-top:10px;padding:10px;line-height:20px;background-color:#0e7bd7;color:#fff;border-radius:0 3px 3px 0;
  -webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transform:translate(-82px,0);-moz-transform:translate(-82px,0);
  }
.m-reader .rd_buy .gift:hover{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);}
.m-reader .rd_buy .gift .txt{margin-right:10px;}
.m-reader .rd_buy .shadow{position:absolute;left:0;top:0;display:block;width:15px;height:100%;}
/* 阅读结束提示 */
.m-reader .rd_end{width:100%;margin:0 auto;padding:100px 0 0;text-align:center;}
.m-reader .rd_end .price{margin-bottom:20px;color:#e35500;font-size:24px;line-height:30px;}
.m-reader .rd_end .buy .icn-quan{padding:0px 3px 0px 4px;display: inline-block;}
.m-reader .rd_end .buy .msg_txt{margin:20px 0;font-size:14px;}
.m-reader .rd_end .buy .act .u-btn1{width:120px;display: inline-block;margin: 0 7px;float: none;}
/* gallery */
.m-reader .gallery_prev,.m-reader .gallery_next{position:absolute;top:50%;height:60px;width:38px;margin-top:-30px;border:none;text-indent:-9999px;outline:none;}
.m-reader .gallery_image{position:absolute;}
.m-reader .gallery_prev{left:0;background-position:0 -453px;}
.m-reader .gallery_next{right:0;background-position:-50px -453px;}
.m-reader .gallery_dots{position:absolute;bottom:0;width:100%;text-align:center;font-size:0;}
.m-reader .gallery_dots .active{background:#785e49;color:#785e49;}
.m-reader .gallery_dot{display:inline-block;*display:inline;width:6px;height:6px;margin:0 5px;border-radius:3px;background:#d3cbc4;cursor:pointer;font-size:0;color:#d3cbc4;zoom:1;overflow:hidden;}
.m-limitedfree-end{padding:60px 30px 30px;text-align:center;font-size:14px;}
.m-limitedfree-end .cover img{width:150px;margin:0 auto;}
.m-limitedfree-end p{line-height:50px;}
.m-limitedfree-end .act .u-btn1{margin-bottom:10px;}
.w-tips1{position:relative;zoom:1;line-height:22px;color:#666;background:#fffde0;border:1px solid #F0DBB0;padding:5px 20px;white-space: nowrap;z-index: 10000;}
.u-side-layer .container .m-comm .content{top:120px;}
.u-goback{position:fixed;top:50%;right:-50px;display:block;width:80px;height:80px;margin-top:-40px;border-radius:60px;background:#000;opacity:.2;}
.u-goback .icn-arrow-left{position:absolute;top:50%;margin-top:-12px;}
.u-txtbox{position:relative;zoom:1;}
.u-txtbox .txt{position:absolute;top:6px;color:#a4a4a4;font-size:14px;z-index:3;}
.u-txtbox input{color:#333;}
.u-txt{height:20px;padding:10px 0;border:1px solid #e8e4e0;font-size:14px;line-height:20px;}
.u-star li{float:left;width:19px;height:19px;padding-right:4px;background-position:-30px -398px;}
.u-star .red,.u-star .hover{background-position:0 -398px;}
.u-note{position:fixed;padding:12px 6px 12px 15px;color:#a04e00;font-size:14px;background:#fff0cc;border:1px solid #d0873f;line-height:20px;border-radius:3px;box-shadow:0 4px 10px rgba(0,0,0,.3);z-index:50;}
.u-note .note-wrap{max-width:330px;min-height:20px;max-height:100px;padding-right:9px;overflow:hidden;overflow-y:auto;}
.u-note p{max-width:330px;word-break:break-word;overflow:hidden;}
.u-note .arr{position:absolute;left:50%;bottom:-14px;width:0;height:0;margin-left:-7px;font-size:0;border:7px solid #fff0cc;border-color:#fff0cc transparent transparent;z-index:1;}
.u-note .arr_b{position:absolute;left:50%;bottom:-16px;width:0;height:0;margin-left:-8px;font-size:0;border:8px solid #d0873f;border-color:#d0873f transparent transparent;}
.u-btn{display:block;height:40px;line-height:40px;border-radius:3px;text-align:center;font-size:14px;background:#ffffff;cursor:pointer;border:1px solid #c9c9c9;}
.u-btn1{display:block;height:40px;line-height:40px;border:1px solid #ff6518;border-radius:3px;text-align:center;color:#fff;font-size:14px;background:#ff6518;cursor:pointer;}

.u-btn-group{height:24px;line-height:24px;border:1px solid #dcd5cd;border-radius:3px;}
.u-btn-group li{float:left;padding:0 12px;border-left:1px solid #dcd5cd;margin-left:-1px;}
.u-btn-group .u-icn-toc{margin-top:3px;}
.u-btn-group .comment a{position:relative;display:block;padding-left:20px;}
.u-btn-group .u-icn-comment{position:absolute;left:0;top: 4px;}
.u-msg-book,.u-msg-right{width:70px;height:70px;background-position:0 -326px;}
.u-msg-right{background-position:0 -256px;}
.u-msg{position:absolute;font-size:12px;color:#999;line-height:18px;}
.u-msg-error{color:#ed6c00;font-weight:700;}
.u-msg-ok{height:18px;color:#42BA00;line-height:18px;}
.u-btn2:hover .u-icn-arrup{background-position:-60px -433px;}
.u-aimg{width:259px;height:137px;margin:30px auto 20px;background:url(../images/duokan.png?201810300939) no-repeat;}
.u-sep{color:#dbd4cd;padding:0 10px;font-size:11px!important;}
.u-stargrade *{vertical-align:middle;}
.u-stargrade .score{margin-right:5px;font-size:14px;}
.u-stargrade .num{font-size:12px;}
.u-stargrade .icon{display:inline-block;*display:inline;width:68px;height:18px;margin-right:5px;zoom:1;}
.u-stargrade .grade0{background-position:-0px -535px;}
.u-stargrade .grade1{background-position:-0px -555px;}
.u-stargrade .grade2{background-position:-0px -575px;}
.u-stargrade .grade3{background-position:-0px -595px;}
.u-stargrade .grade4{background-position:-0px -615px;}
.u-stargrade .grade5{background-position:-0px -635px;}
.u-stargrade .grade6{background-position:-0px -655px;}
.u-stargrade .grade7{background-position:-0px -675px;}
.u-stargrade .grade8{background-position:-0px -695px;}
.u-stargrade .grade9{background-position:-0px -715px;}
.u-stargrade .grade10{background-position:-0px -735px;}

.u-layer{
  position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:2010;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 6px 10px ;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0 6px 10px;
  -ms-box-shadow:rgba(0, 0, 0, 0.2) 0 6px 10px;
  box-shadow:rgba(0, 0, 0, 0.2)  0 6px 10px;
}
.u-layer .wrap{position:absolute;left:5%;width:90%;padding:15px 20px 20px;font-size:14px;text-align:center;box-sizing:border-box;border:1px solid #ff6518;background:#fbfaf8;}
.u-layer .content{margin:20px 0;line-height:20px;}
.u-layer .u-btn1{margin-bottom:10px;}


.u-side-layer{position:absolute;top:0;right:0;width:100%;height:100%;z-index:200;}
.u-side-layer .side-wrap{position:absolute;top:0;left:0;bottom:0;right:0;height:100%;overflow:hidden;z-index:20;}
.u-side-layer .container{position:absolute;top:0;left:0;bottom:0;padding:40px 0 10px;background:#fbfaf8;box-shadow:0 0 120px rgba(0,0,0,.45);z-index:200;}
.u-side-layer .container .content{width:567px;padding:0 50px;overflow:scroll;position:absolute;top:98px;bottom:10px;left: 0;overflow-x:hidden;}
.u-side-layer .container .track{position:absolute;top:98px;right:0;width:20px;bottom:10px;z-index: 10; background: #fbfaf8;}
.u-side-layer .container .scroll{position:absolute;top:0px;width:5px;height:48px;background:#e4ded4;border-radius:5px;right: 3px;}
.u-side-layer .u-icn-close{position:absolute;top:16px;right:16px;cursor: pointer;}
.u-side-layer .title{position:relative;height:70px;margin:0 50px;font-size:14px;}
.u-side-layer .title h1{width:100%;margin-bottom:16px;line-height:30px;font-size:28px;font-weight:400;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.u-side-layer .title .u-btn{position:absolute;bottom:0;right:0;width:100px;height:30px;line-height:30px;cursor: pointer;}
.u-side-layer .mask{width:100%;height:100%;filter:alpha(opacity=50);background:#000;opacity:.5}

.u-nav-tab{position:relative;height:38px;line-height:38px;border-bottom:1px solid #dbd4cd;}
.u-nav-tab li{float:left;text-align:center;font-size:14px;}
.u-nav-tab li span{display:block;width:60px;cursor: pointer;}
.u-nav-tab li span:hover{color: #ed6c00;text-decoration: none;}
.u-nav-tab .crt span{font-weight:700;color:#333;cursor:default;}
.u-nav-tab .crt span:hover{color:#333;}
.u-nav-tab .icn-arrow-top3{position:absolute;bottom:-1px;font-size:0;}
.u-nav-tab em{color:#ed6c00;font-weight:400;}

.icn-toc{display:block;width:50px;height:50px;background-position: 15px 15px;}
.icn-arrow-left{border:12px solid transparent;border-right-color:#fff;}
.icn-arrow-left:after{content:'';display:block;position:absolute;top:-12px;left:-8px;border:12px solid transparent;border-right-color:#000;}
.icn-quan{border: 2px solid #fff; padding: 2px 4px; margin: 0 2px; border-radius: 12px;}

.u-mask-ctrl{position: fixed;top:0;bottom: 0;left: 0;right: 0;z-index: 10;}

.u-explorer li{float:left;_display:inline;width:25%;}
.u-explorer a{display:block;width:64px;padding-top:68px;margin:0 auto;text-align:center;}
.u-explorer a em{font-weight:400;}
.u-explorer .chrome{background-position: 0 0;}
.u-explorer .safari{background-position:-128px 0;}
.u-explorer .firefox{background-position:-64px 0;}
.u-explorer .ie{background-position:-192px 0;}
.u-showbox{position:absolute;z-index:200;top:0;bottom:0;left:0;right:0;}
.u-showbox .cnt{z-index:200;}
.u-showbox .image-clip{position:absolute;}

.u-showbox .txt{padding:30px 50px;filter:alpha(opacity=80);background:#000;opacity:.8;color:#fff;font-size:14px}
.u-showbox .mask{position:absolute;width:100%;height:100%;filter:alpha(opacity=70);background:#000;opacity:.7;}
.u-showbox .close{position:absolute;right:20px;top:20px;width:36px;height:36px;border:1px solid #292A2C;cursor:pointer;z-index:200;}
.u-showbox .close b{position:absolute;top:50%;left:50%;display:block;width:15px;height:15px;margin:-8px 0 0 -8px;background-position:-50px -78px;}
.u-showbox .close:hover b{background-position:-70px -78px;}
.u-panel{position:absolute;padding:10px 20px;background:#000;border-radius:3px;color:#fff;line-height:20px;z-index:200}
.u-panel .btn{cursor:pointer;padding:2px 5px;}
.u-panel .btn:hover{text-decoration:underline;}
.u-panel .sep{color:#333;margin:0 10px;}
.u-panel .arr{position:absolute;left:50%;bottom:-14px;width:0;height:0;margin-left:-7px;font-size:0;border:7px solid #000;border-color:#000 transparent transparent;}
.u-note{
  -webkit-animation: i-pop .12s ease-out;
  -moz-animation: i-pop .12s ease-out;
  -ms-animation: i-pop .12s ease-out;
  -o-animation: i-pop .12s ease-out;
  animation: i-pop .12s ease-out;
}
@-webkit-keyframes i-pop{
  0%{-webkit-transform:scale(0.8)}
  60%{-webkit-transform:scale(1.1)}
  100%{-webkit-transform:scale(1)}
}
@-moz-keyframes i-pop{
  0%{-moz-transform:scale(0.8)}
  60%{-moz-transform:scale(1.1)}
  100%{-moz-transform:scale(1)}
}
@-ms-keyframes i-pop{
  0%{-ms-transform:scale(0.8)}
  60%{-ms-transform:scale(1.1)}
  100%{-ms-transform:scale(1)}
}
@-o-keyframes i-pop{
  0%{-o-transform:scale(0.8)}
  60%{-o-transform:scale(1.1)}
  100%{-o-transform:scale(1)}
}
@keyframes i-pop{
  0%{transform:scale(0.8)}
  60%{transform:scale(1.1)}
  100%{transform:scale(1)}
}
.a-fadeinR{-webkit-animation:1s ease-out backwards;-moz-animation:1s ease-out backwards;-ms-animation:1s ease-out backwards;animation:1s ease-out backwards;}
/* 淡入-从右 */
.a-fadeinR,.u-side-layer .container{
  -webkit-animation: fadeinR .12s ease-out;
  -moz-animation: fadeinR .12s ease-out;
  -ms-animation: fadeinR .12s ease-out;
  -o-animation: fadeinR .12s ease-out;
  animation: fadeinR .12s ease-out;
}
/* 淡出-向右 */
.a-fadeoutR{
  -webkit-animation: fadeoutR .12s ease-out;
  -moz-animation: fadeoutR .12s ease-out;
  -ms-animation: fadeoutR .12s ease-out;
  -o-animation: fadeoutR .12s ease-out;
  animation: fadeoutR .12s ease-out;
  }
/* 淡入-从右 */
@-webkit-keyframes fadeinR{
  0%{-webkit-transform:translateX(100px);}
  100%{-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinR{
  0%{-webkit-transform:translateX(100px);}
  100%{-webkit-transform:translateX(0);}
}
@-ms-keyframes fadeinR{
  0%{-webkit-transform:translateX(100px);}
  100%{-webkit-transform:translateX(0);}
}
@keyframes fadeinR{
  0%{-webkit-transform:translateX(100px);}
  100%{-webkit-transform:translateX(0);}
}
/* 淡出-向右 */
@-webkit-keyframes fadeoutR{
  0%{-webkit-transform:translateX(0);}
  100%{-webkit-transform:translateX(100px);}
}
@-moz-keyframes fadeoutR{
  0%{-webkit-transform:translateX(0);}
  100%{-webkit-transform:translateX(100px);}
}
@-ms-keyframes fadeoutR{
  0%{-webkit-transform:translateX(0);}
  100%{-webkit-transform:translateX(100px);}
}
@keyframes fadeoutR{
  0%{-webkit-transform:translateX(0);}
  100%{-webkit-transform:translateX(100px);}
}
/*.m-reader .rd_cnt .book_page_wrapper{transition: left 0.08s linear;}*/

/*#book_page_content,.book_page_wrapper{float:left;position:relative;}*/
.book_page_wrapper .book_page{z-index:5;}
.book_page_wrapper .book_page svg{display:block;top:0!important;left:0!important;}
.book_page_wrapper .loading{width: 160px; height: 180px; margin-top: -90px; margin-left: -80px;position:absolute;top:50%;left:50%;background:url(../images/logo_loading.png?201810300939) top center no-repeat;color:#d3ccc2;z-index: 6;zoom:0.5;}
.book_page_wrapper.fullscreen {position:relative;border:0px;z-index:40;margin:0px;padding:0;}
.book_page_wrapper .nopadding {margin:0px;padding:0;}
.book_page_wrapper span{padding:5px 0;}
.book_page_wrapper .image_outer_border{overflow:hidden;border:1px solid #e7e6e4;cursor:pointer;}
.book_page_wrapper .image_border{overflow:hidden;border:3px solid #fff;cursor:pointer;}
.book_page span {line-height:1.5em;zoom:1}
/*.image-clip{background:#f7f6f5;}  修复半透明图片bug*/
.image-clip img{display:block;}
/* webkit scrollbar */
::-webkit-scrollbar{width: 0}

/* 大屏单页 */
/*@media screen and (max-width:1520px){
  .m-reader .rd_cnt .book_page_wrapper{width:100%}
  .m-reader .rd_header,.m-reader .rd_footer{width:507px;}
  .m-reader .rd_header .wide{width:200px;}
  .m-reader .rd_footer .right{display:none;}
  .m-reader .rd_footer .left{text-align: right;}
  .m-reader .rd_cntrl{margin:-158px 0 0 354px;}
  .m-reader .rd_cnt{margin:-444px 0 0 -333px;}
  .m-reader .rd_buy{margin-left:334px;}
  .u-side-layer .container{width:620px;}
  .u-side-layer .container .content{width:520px;}
  }*/
/* 小屏 */
/*@media screen and (max-height:888px){
  .m-reader .rd_cnt .book_page_wrapper {width:50%}
  .m-reader .rd_header h2,.m-reader .rd_header .wide{font-size:12px;}
  .m-reader .rd_header,.m-reader .rd_footer{width:786px;padding:14px 40px 10px;}
  .m-reader .rd_footer .right{right:40px;top:10px;display:block;}
  .m-reader .rd_footer .left{text-align: left;}
  .m-reader .rd_cntrl{margin:-170px 0 0 454px;}
  .m-reader .rd_cnt{margin:-288px 0 0 -433px;}
  .m-reader .rd_end{width:353px;padding-top:50px;}
  .m-reader .rd_buy{margin-left:433px;margin-top:-270px;}
  .m-comm-write .cnt{height:220px;}
  .m-comm-write textarea{height:160px;}
  .u-side-layer .container{width:433px;}
  .u-side-layer .container .content{width:380px;}
  .m-comm .total{margin-top:20px;}
  .u-side-layer .title{margin:0 30px;}
  .u-side-layer .container .content{padding:0 30px;}
  m-toc .nav-list li a{padding:14px 80px 14px 0;}
  m-toc .nav-list li span{top:14px;}
  }*/
/* 小屏单页 */
/*@media screen and (max-width:1051px) and (max-height:888px){
  .m-reader .rd_cnt .book_page_wrapper {width: 100%}
  .m-reader .rd_header,.m-reader .rd_footer{width:353px;}
  .m-reader .rd_footer .left{text-align:right;}
  .m-reader .rd_footer .right{display:none;}
  .m-reader .rd_cntrl{margin:-170px 0 0 250px;}
  .m-reader .rd_cnt{margin:-288px 0 0 -216px;}
  .m-reader .rd_buy{margin-left:217px;}
  .m-reader .rd_header h2{width:200px;}
  .m-reader .rd_header .wide{max-width:100px;}
  .m-reader .rd_header .act{width:200px;white-space:nowrap;}
  .m-reader .rd_header .page{display:none;}
  .u-side-layer .container{width:376px;}
  .u-side-layer .container .content{width:332px;}
  }*/
.global-loading{width: 100%;height: 100%;position:absolute;top:0;left:0;background:url(../images/android_720X1280.png?201810300939) top center no-repeat;text-align:center;color:#d3ccc2;z-index: 6;background-size: contain;}

/* 帮助 */
.rd_help{position:fixed;top:0;left:0;width:100%;height:100%;z-index:30;}
.rd_help .help_step_1, .rd_help .help_step_2{position: absolute;top:0;left:0;width:100%;height:100%;z-index:30;background:rgba(0,0,0,.78) no-repeat;}
.rd_help .help_step_1{z-index: 2;background-image: url(../images/s-2.png);background-position:right 55%; background-size: 30%;}
.rd_help .help_step_2{z-index: 1;background-image: url(../images/s-1.png);background-position: 55% 55%; background-size: 30%;}

/* 下载提示 */
.m-download{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0,0,0,.36);
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  text-align: center;}

.icn-download{
  display: inline-block;
  background: url(../images/download.png) center no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  vertical-align: sub;
  margin: 0 12px 0 10px;}

/*
Android-Toast
(c) 2013-2014 Jad Joubran
*/

#android_toast_container{
    width: 100%;
    position: fixed;
    bottom: 12%;
    left: 0;
    z-index: 1;
    text-align: center;
}

#android_toast{
    display: inline-block;
    max-width: 80%;
    background-color: rgb(48, 52, 55);
    color: rgb(245, 245, 245);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    opacity: 0.95;
    -webkit-box-shadow:  1px 2px 2px 1px rgba(34, 34, 34, 1);
    box-shadow:  1px 2px 2px 1px rgba(34, 34, 34, 1);
}

#android_toast em{
    color: rgb(81, 180, 210);
    font-weight: bold;
    font-style: normal;
}

.android_toast_top{
    top: 12%;
    bottom: auto !important;
}


.android_toast_fadein{
    animation: android_toast_fadein 1s ease;
    -webkit-animation: android_toast_fadein 1s ease;
}

.android_toast_fadeout{
    animation: android_toast_fadeout 1s ease;
    -webkit-animation: android_toast_fadeout 1s ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes android_toast_fadein{
    from {
        opacity: 0;
        -webkit-opacity: 0;
    }
    to {
        opacity: 0.95;
        -webkit-opacity: 0.95;
    }
}

@-webkit-keyframes android_toast_fadein{
    from {
        opacity: 0;
        -webkit-opacity: 0;
    }
    to {
        opacity: 0.95;
        -webkit-opacity: 0.95;
    }
}

@keyframes android_toast_fadeout{
    from {
        opacity: 0.95;
        -webkit-opacity: 0.95;
    }
    to {
        opacity: 0;
        -webkit-opacity: 0;
    }
}

@-webkit-keyframes android_toast_fadeout{
    from {
        opacity: 0.95;
        -webkit-opacity: 0.95;
    }
    to {
        opacity: 0;
        -webkit-opacity: 0;
    }
}

